[submodule "deps/first/Unreal"]
	path = deps/first/Unreal
	url = https://github.com:pwcarney/UnrealEngine.git
[submodule "deps/first/patternsleuth"]
	path = deps/first/patternsleuth
	url = https://github.com:trumank/patternsleuth.git
