[submodule "deps/first/Unreal"]
	path = deps/first/Unreal
	url = D:/Git/UEPseudo-main
[submodule "deps/first/patternsleuth"]
	path = deps/first/patternsleuth
	url = https://github.com:trumank/patternsleuth.git
